<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png"  width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01" target="_blank">Spacex DataSet</a>

### Store the dataset in database table

**it is highly recommended to manually load the table using the database console LOAD tool in DB2**.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload.png">

Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the  dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new table as follows:

**SPACEXDATASET**

**Follow these steps while using old DB2 UI which is having Open Console Screen**

**Note:While loading Spacex dataset, ensure that detect datatypes is disabled. Later click on the pencil icon(edit option).**

1.  Change the Date Format by manually typing DD-MM-YYYY and timestamp format as DD-MM-YYYY HH\:MM:SS

2.  Change the PAYLOAD_MASS\_\_KG\_  datatype  to INTEGER.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload2.png">

**Changes to be considered when having DB2 instance with the new UI having Go to UI screen**

*   Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">link</a> for viewing  the new  Go to UI screen.

*   Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.

*   Later browse for the downloaded spacex file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800"/>

*   Once done select the schema andload the file.

 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800"/>

In [36]:
!pip install ipython-sql
!pip install ibm_db 
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa

Requirement already satisfied: ipython-sql in /Users/tonysilva/opt/anaconda3/lib/python3.8/site-packages (0.4.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /Users/tonysilva/opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in /Users/tonysilva/opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (0.4.1)
Requirement already satisfied: six in /Users/tonysilva/opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: ipython>=1.0 in /Users/tonysilva/opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (7.19.0)
Requirement already satisfied: prettytable<1 in /Users/tonysilva/opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in /Users/tonysilva/opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/tonysilva/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (3.0.8)
Requirement already satisfied: pickleshare in /Users/tonysilva/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /Users/tonysilva/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: backcall in /Users/tonysilva/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in /Users/tonysilva/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: pexpect>4.3; sys_platform != "win32" in /Users/tonysilva/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: appnope; sys_platform == "darwin" in /Users/tonysilva/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: jedi>=0.10 in /Users/tonysilva/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.17.1)
Requirement already satisfied: pygments in /Users/tonysilva/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (2.7.2)
Requirement already satisfied: setuptools>=18.5 in /Users/tonysilva/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (50.3.1.post20201107)
Requirement already satisfied: wcwidth in /Users/tonysilva/opt/anaconda3/lib/python3.8/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: ptyprocess>=0.5 in /Users/tonysilva/opt/anaconda3/lib/python3.8/site-packages (from pexpect>4.3; sys_platform != "win32"->ipython>=1.0->ipython-sql) (0.6.0)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in /Users/tonysilva/opt/anaconda3/lib/python3.8/site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: ibm_db in /Users/tonysilva/opt/anaconda3/lib/python3.8/site-packages (3.0.4)
Requirement already satisfied: sqlalchemy==1.3.9 in /Users/tonysilva/opt/anaconda3/lib/python3.8/site-packages (1.3.9)
Requirement already satisfied: ibm_db_sa in /Users/tonysilva/opt/anaconda3/lib/python3.8/site-packages (0.3.7)
Requirement already satisfied: ibm-db>=2.0.0 in /Users/tonysilva/opt/anaconda3/lib/python3.8/site-packages (from ibm_db_sa) (3.0.4)
Requirement already satisfied: sqlalchemy>=0.7.3 in /Users/tonysilva/opt/anaconda3/lib/python3.8/site-packages (from ibm_db_sa) (1.3.9)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [37]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

**DB2 magic in case of old UI service credentials.**

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance before. From the **uri** field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_edX/images/URI.jpg">

in the following format

**%sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name**

**DB2 magic in case of new UI service credentials.**

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/servicecredentials.png" width=600>  

*   Use the following format.

*   Add security=SSL at the end

**%sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name?security=SSL**

In [38]:
%sql ibm_db_sa://rqp60339:F67HD9wxS8OVZHpf@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB?security=SSL

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [39]:
%sql select distinct LAUNCH_SITE from SPACEXTBL

 * ibm_db_sa://rqp60339:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB
Done.

[('CCAFS LC-40',),
 ('CCAFS SLC-40',),
 ('CCAFSSLC-40',),
 ('KSC LC-39A',),
 ('VAFB SLC-4E',)]

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [40]:
%sql select LAUNCH_SITE from  SPACEXTBL where LAUNCH_SITE like 'CCA%' limit 5

 * ibm_db_sa://rqp60339:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB
Done.

[('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',)]

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [41]:
%sql select sum(PAYLOAD_MASS__KG_) as Total_Payload_Mass_Kg from SPACEXTBL where CUSTOMER = 'NASA (CRS)'

 * ibm_db_sa://rqp60339:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB
Done.

[(45596,)]

In [42]:
%sql select distinct CUSTOMER from SPACEXTBL

 * ibm_db_sa://rqp60339:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB
Done.

[('ABS Eutelsat',),
 ('AsiaSat',),
 ('Bulsatcom',),
 ('CONAE',),
 ('CONAE, PlanetIQ, SpaceX',),
 ('Canadian Space Agency (CSA)',),
 ('EchoStar',),
 ('Es hailSat',),
 ('Hisdesat exactEarth SpaceX',),
 ('Hispasat  NovaWurks',),
 ('Inmarsat',),
 ('Intelsat',),
 ('Iridium Communications',),
 ('Iridium Communications GFZ ‚ NASA',),
 ('KT Corporation',),
 ('MDA',),
 ('NASA (CCD)',),
 ('NASA (CCDev)',),
 ('NASA (CCP)',),
 ('NASA (COTS)',),
 ('NASA (COTS) NRO',),
 ('NASA (CRS)',),
 ('NASA (CRS), Kacific 1',),
 ('NASA (CTS)',),
 ('NASA (LSP)',),
 ('NASA (LSP) NOAA CNES',),
 ('NASA / NOAA / ESA / EUMETSAT',),
 ('NRO',),
 ('NSPO',),
 ('Northrop Grumman',),
 ('Orbcomm',),
 ('PSN, SpaceIL / IAI',),
 ('Republic of Korea Army, Spaceflight Industries (BlackSky)',),
 ('SES',),
 ('SES EchoStar',),
 ('SKY Perfect JSAT Group',),
 ('Sky Perfect JSAT, Kacific 1',),
 ('SpaceX',),
 ('SpaceX, Planet Labs',),
 ('SpaceX, Planet Labs, PlanetIQ',),
 ('SpaceX, Spaceflight Industries (BlackSky), Planet Labs',),
 ('Spacecom',),
 ('Spaceflight Industries',),
 ('Telesat',),
 ('Telkom Indonesia',),
 ('Thaicom',),
 ('Thales-Alenia/BTRC',),
 ('Turkmenistan National Space Agency',),
 ('U.S. Air Force',),
 ('U.S. Air Force NASA NOAA',),
 ('U.S. Space Force',),
 ('USAF',),
 ('USSF',)]

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [43]:
%sql select avg(PAYLOAD_MASS__KG_) as average_payload_mass_kg from SPACEXTBL where BOOSTER_VERSION = 'F9 v1.1'

 * ibm_db_sa://rqp60339:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB
Done.

[(2928,)]

In [44]:
%sql select distinct BOOSTER_VERSION from SPACEXTBL

 * ibm_db_sa://rqp60339:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB
Done.

[('F9 B4  B1039.2',),
 ('F9 B4  B1040.2',),
 ('F9 B4  B1041.2',),
 ('F9 B4  B1043.2',),
 ('F9 B4 B1039.1',),
 ('F9 B4 B1040.1',),
 ('F9 B4 B1041.1',),
 ('F9 B4 B1042.1',),
 ('F9 B4 B1043.1',),
 ('F9 B4 B1044',),
 ('F9 B4 B1045.1',),
 ('F9 B4 B1045.2',),
 ('F9 B5  B1046.1',),
 ('F9 B5 B1046.2',),
 ('F9 B5 B1046.3',),
 ('F9 B5 B1046.4',),
 ('F9 B5 B1047.2',),
 ('F9 B5 B1047.3',),
 ('F9 B5 B1048.2',),
 ('F9 B5 B1048.3',),
 ('F9 B5 B1048.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1049.2',),
 ('F9 B5 B1049.3',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1049.6',),
 ('F9 B5 B1049.7',),
 ('F9 B5 B1051.2',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1051.5',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1056.2',),
 ('F9 B5 B1056.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1058.2',),
 ('F9 B5 B1058.3',),
 ('F9 B5 B1058.4',),
 ('F9 B5 B1059.2',),
 ('F9 B5 B1059.3',),
 ('F9 B5 B1059.4',),
 ('F9 B5 B1060.2',),
 ('F9 B5 B1060.3',),
 ('F9 B5B1047.1',),
 ('F9 B5B1048.1',),
 ('F9 B5B1049.1',),
 ('F9 B5B1050',),
 ('F9 B5B1051.1',),
 ('F9 B5B1054',),
 ('F9 B5B1056.1',),
 ('F9 B5B1058.1',),
 ('F9 B5B1059.1',),
 ('F9 B5B1060.1',),
 ('F9 B5B1061.1',),
 ('F9 B5B1062.1',),
 ('F9 B5B1063.1',),
 ('F9 FT  B1021.2',),
 ('F9 FT  B1029.2',),
 ('F9 FT  B1031.2',),
 ('F9 FT  B1032.2',),
 ('F9 FT  B1035.2',),
 ('F9 FT  B1036.2',),
 ('F9 FT  B1038.2',),
 ('F9 FT B1019',),
 ('F9 FT B1020',),
 ('F9 FT B1021.1',),
 ('F9 FT B1022',),
 ('F9 FT B1023.1',),
 ('F9 FT B1024',),
 ('F9 FT B1025.1',),
 ('F9 FT B1026',),
 ('F9 FT B1029.1',),
 ('F9 FT B1030',),
 ('F9 FT B1031.1',),
 ('F9 FT B1032.1',),
 ('F9 FT B1034',),
 ('F9 FT B1035.1',),
 ('F9 FT B1036.1',),
 ('F9 FT B1037',),
 ('F9 FT B1038.1',),
 ('F9 v1.0  B0003',),
 ('F9 v1.0  B0004',),
 ('F9 v1.0  B0005',),
 ('F9 v1.0  B0006',),
 ('F9 v1.0  B0007',),
 ('F9 v1.1',),
 ('F9 v1.1  B1003',),
 ('F9 v1.1 B1010',),
 ('F9 v1.1 B1011',),
 ('F9 v1.1 B1012',),
 ('F9 v1.1 B1013',),
 ('F9 v1.1 B1014',),
 ('F9 v1.1 B1015',),
 ('F9 v1.1 B1016',),
 ('F9 v1.1 B1017',),
 ('F9 v1.1 B1018',)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [45]:
%sql select min(DATE) as first_successful_landing from SPACEXTBL where LANDING__OUTCOME = 'Success (ground pad)'

 * ibm_db_sa://rqp60339:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB
Done.

[(datetime.date(2015, 12, 22),)]

In [46]:
%sql select distinct LANDING__OUTCOME from SPACEXTBL

 * ibm_db_sa://rqp60339:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB
Done.

[('Controlled (ocean)',),
 ('Failure',),
 ('Failure (drone ship)',),
 ('Failure (parachute)',),
 ('No attempt',),
 ('Precluded (drone ship)',),
 ('Success',),
 ('Success (drone ship)',),
 ('Success (ground pad)',),
 ('Uncontrolled (ocean)',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [47]:
%sql select distinct BOOSTER_VERSION from SPACEXTBL where PAYLOAD_MASS__KG_ between 4000 and 6000

 * ibm_db_sa://rqp60339:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB
Done.

[('F9 B4  B1040.2',),
 ('F9 B4 B1040.1',),
 ('F9 B4 B1043.1',),
 ('F9 B5 B1046.2',),
 ('F9 B5 B1046.3',),
 ('F9 B5 B1047.2',),
 ('F9 B5 B1048.3',),
 ('F9 B5 B1051.2',),
 ('F9 B5 B1058.2',),
 ('F9 B5B1054',),
 ('F9 B5B1060.1',),
 ('F9 B5B1062.1',),
 ('F9 FT  B1021.2',),
 ('F9 FT  B1031.2',),
 ('F9 FT  B1032.2',),
 ('F9 FT B1020',),
 ('F9 FT B1022',),
 ('F9 FT B1026',),
 ('F9 FT B1030',),
 ('F9 FT B1032.1',),
 ('F9 v1.1',),
 ('F9 v1.1 B1011',),
 ('F9 v1.1 B1014',),
 ('F9 v1.1 B1016',)]

### Task 7

##### List the total number of successful and failure mission outcomes

In [48]:
%sql select count(MISSION_OUTCOME) as total_mission_outcomes from SPACEXTBL

 * ibm_db_sa://rqp60339:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB
Done.

[(101,)]

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [49]:
%sql select distinct BOOSTER_VERSION, PAYLOAD_MASS__KG_ from SPACEXTBL where PAYLOAD_MASS__KG_ = (select max(PAYLOAD_MASS__KG_) from SPACEXTBL)

 * ibm_db_sa://rqp60339:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB
Done.

[('F9 B5 B1048.4', 15600),
 ('F9 B5 B1048.5', 15600),
 ('F9 B5 B1049.4', 15600),
 ('F9 B5 B1049.5', 15600),
 ('F9 B5 B1049.7', 15600),
 ('F9 B5 B1051.3', 15600),
 ('F9 B5 B1051.4', 15600),
 ('F9 B5 B1051.6', 15600),
 ('F9 B5 B1056.4', 15600),
 ('F9 B5 B1058.3', 15600),
 ('F9 B5 B1060.2', 15600),
 ('F9 B5 B1060.3', 15600)]

### Task 9

##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015

In [60]:
%sql select monthname(DATE) as "month", year(DATE) as "year", LANDING__OUTCOME, BOOSTER_VERSION, LAUNCH_SITE from SPACEXTBL where LANDING__OUTCOME = 'Failure (drone ship)' and year(DATE) = '2015'

 * ibm_db_sa://rqp60339:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB
Done.

[('January', 2015, 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('April', 2015, 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10

##### Rank the  count of  successful landing_outcomes between the date 2010-06-04 and 2017-03-20 in descending order.

In [161]:
%%sql select LANDING__OUTCOME, count(*) as "count"
from SPACEXTBL 
where LANDING__OUTCOME like 'Success%' and DATE between '2010-06-04' and '2017-03-20'
group by LANDING__OUTCOME
order by count(*) desc

 * ibm_db_sa://rqp60339:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB
Done.

[('Success (drone ship)', 5), ('Success (ground pad)', 3)]

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>